<h3>Create a new cupcake!</h3>
<form id="cupcake-form" class="col-12 col-md-6">
	{{ form.hidden_tag() }}
	<!--add type=hidden form fields -->

	{% for field in form if field.widget.input_type != 'hidden'%}

	<p class="form-group">
		{{ field.label }} {{ field(class_="form-control") }} {% for error in
		field.errors %}
		<small class="text-danger">{{ error }}</small> {% endfor %}
	</p>

	{% endfor %}
	<button type="submit" class="btn btn-outline-success">Submit</button>
</form>
<div class="justify-content-center"></div>
